    <script src="{{ "/js/logo.js" | prepend: site.baseurl }}"></script>
    <script>
        setTimeout(function(){
            var logo = document.getElementById('logo')
            createPlayfulExperiencesLogo(logo, logo, "{{ "/img/logo.svg" | prepend: site.baseurl }}")
        }, 500)
    </script>

    <script src="{{ "/js/shuffle-items.js" | prepend: site.baseurl }}"></script>

<!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin Lightbox -->
    <script src="{{ "/js/lightbox.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
