
<!-- <a href="https://www.facebook.com/events/188495395358508/" target="_blank" class="event-link">
  <span>September 20 &ndash; 23</span>
  <span>Click Me for Event Info!</span>
</a> -->

<div id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <h2 class="section-heading">About The MA in Independent Games and Playable Experience Design</h2>
    </div>

    <div class="row">
      <div class="text-muted">

        <p>Independent Games and Playable Experience Design is an MA program at Goldsmiths, University of London. This unique course offers critically-engaging themes and technologies, providing skills in immersive storytelling to reflect rapid changes in the games industry. </p>

        </p>We focus on developing aesthetic awareness, designing meaningful spaces, creating compelling mechanics and the ability to craft innovative narratives in games and immersive experiences. Students on this course push games into new territories both through expanding into new physical spaces as well as intellectual domains.  </p>

        <p>Welcome to Playful Experiences, a brave new exhibition of work from the program where games find purchase in the creative arts to engage conversation, inspire personal expression and explore social issues. </p>
        <p> <a href="https://www.gold.ac.uk/pg/ma-independent-games-design/"> Learn more</a></p>

      </div>
    </div>
  </div>
</div>
