

  <div id="clients" class="bg-light-gray">
  <div class="container">
<br/><br/><br/> <!-- this needs fixing this is so, so dirty -->
      <div class="row">
         <h2 class="section-heading">Final Thesis Show</h2>
      </div>

  <div class="row">
    <div class="text-muted">

      <p>Sept 20th, 6pm - 10pm words & link to map</p>

      <h3>Keynote Speakers</h3>

      <h4> Robin Baumgarten </h4>
      <h3>Making Strange Hardware Games</h3> 
      Robin will explore the thriving experimental hardware game scene with its weird contraptions, strange arcade machines, and new controllers that push the boundaries of what games can be. He’ll talk about his own journey with the critically acclaimed Line Wobbler from door stopper spring experiment to museum exhibitions.

      <p>Robin Baumgarten is an Independent Hardware Game Designer based in London. Coming from an Artificial Intelligence and commercial game development background, he is now building award-winning interactive installation art and experimental custom controller games. He's also a keen game jammer, wannabe nomadic and photographer. </p>

      <h4>Phoenix Perry </h4>
      <h3>

      <p>Phoenix Perry creates physical games and embodied experiences. Her work looks for opportunities to bring people together to raise awareness of our collective interconnectivity. Current research underway at Goldsmiths, University of London looks at leveraging our other senses, with particular focus on sound and skin based feedback to trigger affective response. A consummate advocate for women in game development, she founded Code Liberation Foundation. In her role at Goldsmiths, University of London, she leads an MA in Independent Games and Experience Design which she created.</p>

      <h4>Cara Ellison </h4>
      <h5> I am going to talk about environmental storytelling</h5>

      <p>I design stories for video games. Some people think this means I'm the person who writes the line, Oh my god we've got to get out of here! Some studios still believe that this is all I should do: "Isn't that what scriptwriters do? They write what characters say." But "narrative designers" have a broader remit.

      <--!  bio -->
      Cara Ellison is a narrative designer for videogames and often writes for TV and comics.

      She is originally from Aberdeen, Scotland, lives in Edinburgh, and works in & out of office for many game studios worldwide. Previously an itinerant journalist, she has also written books and worked in radio. She is the second most prominent defender of Britney Spears in the games industry.

      <h4> Federico Fasce</h4>
      Born in Genova in 1975 Federico has worked in and out the game industry since 1996. He sees himself as a game designer, though lately is questioning what games even mean, and he all in all doesn’t really care as long as people keep making cool things. He has also been an event organiser, a teacher and a mentor. He’s a strong advocate of personal games and he firmly believes that getting more people making games is the way to save the industry and push the form of expression forward. He now lives in London where he explores self caring and relationship in game spaces. He recently worked at The Guardian as a creative technologist for virtual reality experiences. He’s constantly excited about something. Even before morning coffee.




      Thesis talks start at x time



    </div>
  </div>
</div>
